@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.svg') format('svg');
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg') format('svg');
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff2') format('woff2'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg') format('svg');
}

body {
	font-family: 'ProximaNovaSemibold';
	background-image: url('../images/splash-2.jpg');
	background-position: center center;
	background-size: cover;
	padding: 0;
	margin: 0;
	height: 100vh;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
iframe#no-target {
	position: absolute;
	height: 0;
	width: 0;
}
::-webkit-input-placeholder {
  color: #cecece;
}
::-moz-placeholder {
  color: #cecece;
}
:-ms-input-placeholder {
  color: #cecece;
}
:-moz-placeholder {
  color: #cecece;
}
#title {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);;
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	width: 750px;
}
#logo {
	position: fixed;
	left: 50%;
	bottom: -4px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	width: 246px;
}
#newsletter-bg {
	opacity: 0;
	background: rgba(0,0,0,.6);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: opacity .8s ease-in-out;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}
#newsletter {
	opacity: 0;
	background: #ffffff;
	padding: 80px 100px;
	width: 400px;
	height: 440px;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transform: translate3D(-50%, 0, 0);
	-webkit-transform: translate3D(-50%, 0, 0);
	-moz-transform: translate3D(-50%, 0, 0);
	-ms-transform: translate3D(-50%, 0, 0);
	-o-transform: translate3D(-50%, 0, 0);
}
.load #newsletter-bg.open {
	opacity: 1;
	transition: opacity .5s ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.load #newsletter.open {
	opacity: 1;
	transform: translate3D(-50%, -50%, 0);
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
#newsletter p {
	font-size: 1em;
	color: #bcbcbc;
	text-transform: uppercase;
	margin: 40px 0;
}
#newsletter .square-logo {
	width: 100%;
}
#form {
	width: 410px;
	margin-left: -5px;
}
#signup-email {
	display: block;
	position: relative;
	width: 239px;
	height: 39px;
	border: 2px solid #e09410;
	float: left;
	text-align: center;
	outline: none;
	color: #8f8f8f;
	text-transform: uppercase;
	outline: none;
	font-weight: bold;
	text-transform: uppercase;
}
#signup-submit {
	display: block;
	position: relative;
	background: #ffffff;
	border: none;
	width: 165px;
	height: 45px;
	float: left;
	color: #ffffff;
	font-weight: bold;
	border: 2px solid #e09410;
	border-left: 0;
	background-color: #ffffff;
	background-image: url('../images/button-bg.png');
	background-size: 100% 100%;
	background-position: left top;
	background-repeat: no-repeat;
	transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-moz-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-webkit-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-ms-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-o-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
}
#signup-submit:hover {
	color: #e09410;
	background-size: 0% 100%;
	transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-moz-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-webkit-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-ms-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
	-o-transition: background-size .3s ease-in-out 0s, color .2s ease-in-out .1s;
}
#newsletter-close,
#thankyou-close {
	background: #434343;
	border: none;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	outline: none;
}
#newsletter-close .bar-1,
#thankyou-close .bar-1 {
	width: 36px;
	height: 1px;
	background: #e09410;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transition: background .3s ease-in-out 0s;
	-moz-transition: background .3s ease-in-out 0s;
	-webkit-transition: background .3s ease-in-out 0s;
	-ms-transition: background .3s ease-in-out 0s;
	-o-transition: background .3s ease-in-out 0s;
}
#newsletter-close .bar-2,
#thankyou-close .bar-2 {
	width: 36px;
	height: 1px;
	background: #e09410;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transition: background .3s ease-in-out 0s;
	-moz-transition: background .3s ease-in-out 0s;
	-webkit-transition: background .3s ease-in-out 0s;
	-ms-transition: background .3s ease-in-out 0s;
	-o-transition: background .3s ease-in-out 0s;
}
#newsletter-close:hover .bar-1,
#thankyou-close:hover .bar-1 {
	background: #ffffff;
	transition: background .3s ease-in-out 0s;
	-moz-transition: background .3s ease-in-out 0s;
	-webkit-transition: background .3s ease-in-out 0s;
	-ms-transition: background .3s ease-in-out 0s;
	-o-transition: background .3s ease-in-out 0s;
}
#newsletter-close:hover .bar-2,
#thankyou-close:hover .bar-2 {
	background: #ffffff;
	transition: background .3s ease-in-out 0s;
	-moz-transition: background .3s ease-in-out 0s;
	-webkit-transition: background .3s ease-in-out 0s;
	-ms-transition: background .3s ease-in-out 0s;
	-o-transition: background .3s ease-in-out 0s;
}
#thankyou {
	opacity: 1;
	background: #ffffff;
	padding: 80px 100px;
	width: 400px;
	height: 440px;
	position: fixed;
	top: 50%;
	left: -100%;
	transition: left .8s ease-in-out;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	transform: translate3D(-50%, -50%, 0);
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
}
#thankyou.show {
	opacity: 1;
	left: 50%;
	transform: translate3D(-50%, -50%, 0);
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
	transition: left .8s ease-in-out;
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
}
#thankyou.show {
	opacity: 1;
	left: 50%;
	transform: translate3D(-50%, -50%, 0);
	-webkit-transform: translate3D(-50%, -50%, 0);
	-moz-transform: translate3D(-50%, -50%, 0);
	-ms-transform: translate3D(-50%, -50%, 0);
	-o-transform: translate3D(-50%, -50%, 0);
	transition: left .8s ease-in-out;
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
}
#thankyou .content {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#thankyou h2 {
	color: #e09410;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.6em;
}
#thankyou p {
	color: #bcbcbc;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.8em;
}

@media all and (min-width: 1600px) {
	#logo {
		width: 300px;
	}
	#title {
		width: 850px;
	}
}
@media all and (min-width:2500px) {
	#title {
		width: 1400px;
	}
}
@media all and (min-width: 544px) and (max-width: 1599px) {

}
@media all and (max-width: 1199px) {
	#title {
		width: 650px;
	}
}
@media all and (max-width: 991px) {
	#title {
		width: 500px;
	}
	#newsletter {
		width: 288px;
		height: auto;
	}
	#thankyou {
		padding: 0;
		width: 488px;
		height: 676px;
	}
	#newsletter p {
		max-width: 194px;
		margin: 40px auto;
		font-size: 1.3em;
		line-height: 1.6;
		text-align: center;
	}
	#form {
		width: 288px;
		margin-left: 0;
	}
	#signup-email {
		display: block;
		position: relative;
		width: 282px;
		height: 48px;
		border: 2px solid #8f8f8f;
		float: none;
		margin-bottom: 14px;
	}
	#signup-submit {
		width: 288px;
		height: 54px;
		float: none;
		border-left: 2px solid #e09410;
	}
}
@media all and (max-width: 767px) {
	#title {
		width: 400px;
	}
	#newsletter {
		padding: 70px 80px;
		width: 284px;
	}
	#thankyou {
		padding: 0;
		width: 444px;
		height: 653px;
	}
	#newsletter p {
		max-width: 194px;
		margin: 40px auto;
	}
	#form {
		width: 284px;
	}
	#signup-email {
		width: 278px;
	}
	#signup-submit {
		width: 284px;
	}
}
@media all and (max-width: 543px) {
	#logo {
		width: 150px;
	}
	#title {
		width: 245px;
	}
	#newsletter {
		padding: 40px 30px;
		width: 200px;
	}
	#thankyou {
		padding: 0;
		width: 260px;
		height: 469px;
	}
	#newsletter p {
		font-size: 1em;
		max-width: 150px;
		margin: 30px auto;
	}
	#form {
		width: 200px;
	}
	#signup-email {
		width: 194px;
		height: 39px;
	}
	#signup-submit {
		width: 200px;
		height: 45px;
	}
	#newsletter-close {
		width: 40px;
		height: 40px;
		bottom: -20px;
	}
	#newsletter-close .bar-1 {
		width: 28px;
	}
	#newsletter-close .bar-2 {
		width: 28px;
	}
	#thankyou h2 {
		color: #e09410;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.8em;
	}
	#thankyou p {
		color: #bcbcbc;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.8em;
	}
}